[submodule "0x18."]
	path = 0x18.
	url = https://github.com/vmdn23/monty.git
[submodule "0x18-stacks_queues_lifo_fifo"]
	path = 0x18-stacks_queues_lifo_fifo
	url = https://github.com/vmdn23/monty.git
[submodule "sorting_algorithms"]
	path = sorting_algorithms
	url = https://github.com/vmdn23/sorting_algorithms.git
